[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
pytz = "*"

[requires]
python_version = "3.7"
